.loginInputContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
  
.loginInputContainer button {
position: absolute; 
margin-right: 20px;
border: 0;
background-color: transparent;
display: flex;
align-items: flex-end;
width: 22px;
}

.loginInfoContainerButton {
    width: 100%;
    height: 57px;
    background-color: #081B4E;
    border-radius: 10px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Epilogue';
    cursor: pointer;
}
  