@import url('https://fonts.googleapis.com/css?family=Epilogue');

html {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Epilogue';
}

div#__next {
  height: 100%;
}
