@import url('https://fonts.googleapis.com/css?family=Epilogue');

.loginTotalPage {
  height: 100%;
  width: 100%;
  background-color: #00113D;
}

.loginBodyContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
 
.loginInfoContainer {
  height: 384px;
  width: 321px;
  background-color: #FFFFFF;
  border-radius: 28px;
  padding-left: 33px;
  padding-top: 49px;
  padding-right: 36px;
}

.loginInfoContainer h2 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #081B4E;
}

.loginInfoContainer p {
  font-weight: 400;
  font-size: 16px;
  color: #777777;
}

.loginInfoContainer input {
  height : 59px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(183,183,183, 0.7);
  padding-left: 15px;
  font-family: 'Epilogue';
  font-weight: 700;
  font-size: 16px;
  color: #293D71;
  padding-right: 45px;
}

.loginInfoContainer input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #B7B7B7;
  font-family: 'Epilogue';
}

.loginInputContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.loginInputContainer button {
  position: absolute; 
  margin-right: 20px;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  width: 22px;
}

.loginInfoContainerButton {
  width: 100%;
  height: 57px;
  background-color: #081B4E;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  font-family: 'Epilogue';
  cursor: pointer;
}

.loginForgotPasswordContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 23px;
}

.loginForgotPasswordContainer a {
  font-weight: 400;
  font-size: 11px;
  color: #F21A05;
  margin-left: 5px;
  cursor: pointer;
}